<div id='trip-info'>
  <h2><%= @trip.name %></h2>
  <h6>From
    <%= @trip.format_start_date %>
    to
    <%= @trip.format_end_date %></h6>
  <%= link_to "Update trip info", edit_trip_path(@trip.id) %>
  <%= link_to "Delete trip", trip_path(@trip.id), method: :delete %>
</div>
<h2>Resort Options:</h2>
<div id="options">
<% if @trip.options %>
  <ul>
    <div class="row text-center">
      <% @trip.options.each do |option| %>
      <div id="option-<%= option[:resort_id] %>">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= link_to option[:resort_name], resort_path(option[:resort_id]) %></h5>
              <%= link_to 'Vote', trip_vote_index_path(@trip), method: :patch, params: {resort_id: option[:resort_id], user_id: current_user.id}, class: "btn btn-primary"%>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  </ul>
<% else %>
  Please add resorts below.
<% end %>
</div>

<h2>Add Resorts:</h2>
<%= render 'shared/resort_search', path: trip_path(@trip.id) %>
