<h1>Welcome, <%= current_user.name %>!</h1>

<div id='user-info'>
  <ul>
    <li>Location
      <%= current_user.address %></li>
    <li>Pass Type
      <%= current_user.ski_pass %></li>
    <li>Board or ski
      <%= current_user.ski_or_board %></li>
    <li>Experience Level
      <%= current_user.exp_level %></li>
    <li>Emergency Contact Name
      <%= current_user.emergency_name %></li>
    <li>Emergency Contact Number
      <%= number_to_phone(current_user.emergency_number, area_code: true) %></li>
  </ul>
  <%= link_to "Edit info", edit_user_path(current_user.id) %>
</div>
<br>

<div id='friends-list'>
  <h3>Your Friends</h3>
  <%= form_with url: friendships_path, method: :post, local: true do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.submit 'Add Friend' %>
  <% end %>

  <% if current_user.friends.empty? %>
    You currently have no friends. Type in their email to get started!
  <% else %>
    <ul>
      <% current_user.friends.each do |friend| %>
        <li><%= friend.name %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<div id='upcoming-trips'></div>

<div id='past-trips'></div>