<h1>Welcome
  <%= current_user.name %></h1>

<div id='user-info'>
  <ul>
    <li>Location
      <%= current_user.address %></li>
    <li>Pass Type
      <%= current_user.ski_pass %></li>
    <li>Board or ski
      <%= current_user.ski_or_board %></li>
    <li>Experience Level
      <%= current_user.exp_level %></li>
    <li>Emergency Contact Name
      <%= current_user.emergency_name %></li>
    <li>Emergency Contact Number
      <%= number_to_phone(current_user.emergency_number, area_code: true) %></li>
  </ul>
  <%= link_to "Edit info", edit_user_path(current_user.id) %>
</div>
<br>



<div id='add-friend'>
    <% form_with url: friendships_path, local: true do |f| %>
      <%= f.text_field :friends, placeholder: 'name@example.com' %>
      <%= f.submit 'Add Friend' %>
    <% end %>
<div/>

<div id='friends'>
  <%= 'Friends' %><br/>
  <%= 'You have not added any friends yet!' if @user.friends.empty? %>
  <% @user.friends.each do |friend| %>
    <%= friend.name %>
  <% end %>
</div>
