<h1>Welcome
  <%= current_user.name %></h1>

<div id='user-info'>
  <ul>
    <li>Location
      <%= current_user.address %></li>
    <li>Pass Type
      <%= current_user.ski_pass %></li>
    <li>Board or ski
      <%= current_user.ski_or_board %></li>
    <li>Experience Level
      <%= current_user.exp_level %></li>
    <li>Emergency Contact Name
      <%= current_user.emergency_name %></li>
    <li>Emergency Contact Number
      <%= number_to_phone(current_user.emergency_number, area_code: true) %></li>
  </ul>
  <%= link_to "Edit info", edit_user_path(current_user.id) %>
</div>
<br>

<div id='upcoming-trips'>
  <% if current_user.upcoming_trips.empty? %>
    <p>You have no upcoming trips. Get a life </p>
  <% else %>
    <% current_user.upcoming_trips.each do |trip| %>
      <%= trip[:data][:attributes][:name] %>
      <%= trip[:data][:attributes][:start_date] %>
      <%= trip[:data][:attributes][:end_date] %>
    <% end %>
  <% end %>
<div/>

<div id='past-trips'>
  <% if current_user.past_trips.empty? %>
  <p>Go on some trips!</p>
  <% else %>
    <% current_user.past_trips.each do |trip| %>
      <%= trip[:data][:attributes][:name] %>
      <%= trip[:data][:attributes][:start_date] %>
      <%= trip[:data][:attributes][:end_date] %>
    <% end %>
  <% end %>
</div>

<div id='friend'>
  <%= form_with url: friendships_path, local: true do |f| %>
    <%= f.text_field :email, placeholder: 'name@example.com' %>
    <%= f.submit 'Add Friend' %>
  <% end %>

  <h3>Friends<h3/>
    <% current_user.friends.each do |friend| %>
      <%=  friend[:data][:attributes][:friend_name] %>
    <% end %>
  <%= 'No friends added currently!' if current_user.friends.empty? %>
<div/>
