<div id="resorts-search">
  <%= form_with url: path, method: :get, local: true do |f| %>
  <%= f.label :state, 'Search by State:' %>
  <%= f.select :state, options_for_select(us_states) %>
  <%= f.submit 'Search' %>
<% end %>
</div>
<div id="resorts">
<% if @resorts %>
  <ul>
    <div class="row text-center">
      <% @resorts.each do |resort| %>
      <div class="col-sm">
      <div id="resort-<%= resort.id %>">
          <div class="card">
            <img class="card-img-top-thumbnail object-fit: cover" src='<%= resort.logo %>' alt="Logo">
            <div class="card-body d-flex flex-column">
              <h6 class="card-title mt-auto"><%= link_to resort.name, resort_path(resort.id) %></h6>
              <% if path != resorts_path %>
                <%= link_to 'Add to Trip', resort_options_path(resort_id: resort.id, trip_id: @trip.id, name: resort.name), method: :post, class: "btn btn-primary"%>
              <% end %>
            </div>
          </div><br>
        </div>
      </div>
    <% end %>
  </div>
  </ul>
<% else %>
  Please select a State to search for resorts.
<% end %>
</div>
