<div id="resorts-search">
  <%= form_with url: path, method: :get, local: true do |f| %>
  <%= f.label :state, 'Search by State:' %>
  <%= f.select :state, options_for_select(us_states) %>
  <%= f.submit 'Search' %>
<% end %>
</div>
<br>
<div id="resorts">
<% if @resorts %>
  <% @resorts.each_slice(4) do |resort_group| %>
    <div class="container">
      <div class="row">
        <% resort_group.each do |resort| %>
        <div class="col">
          <div class="card">
            <img class="img-fluid" src='<%= resort.logo %>' alt="Logo">
            <div class="card-body">
              <h5 class="card-title"><%= link_to resort.name, resort_path(resort.id) %></h5>
              <% if path != resorts_path %>
                <%= link_to 'Add to Trip', resort_options_path(resort_id: resort.id, trip_id: @trip.id, name: resort.name), method: :post, class: "btn btn-primary"%>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <p>Please select a State to search for resorts.</p>
<% end %>
</div>
