<body class="resorts">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <br>
        <div class="card" style="width: 18rem;">
          <img src="<%= @resort.logo %>" class="card-img-top" alt="<%= @resort.name %>">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" style="background-color: #E7ECEF;">
              <h5 class="card-title"><%= @resort.name %></h5>
              <p class="card-text">Mask Required:
                <%= @resort.mask_required %></p>
            </li>
            <li class="list-group-item" style="background-color: #E7ECEF;">
              <div id="<%= @resort.id %>-snow">
                <ul>
                  <strong>Snow Conditions</strong>
                  <li>New Snow:<%= @resort.new_snow %>
                    in</li>
                  <li>Base Depth:
                    <%= @resort.base_depth %>
                    in</li>
                  <li>Snow Condition:
                    <% if @resort.snow_condition == '' %>
                      <p>No snow</p>
                    <% else %>
                      <%= @resort.snow_condition %></li>
                  <% end %>
                </ul>
              </div>
            </li>
            <li class="list-group-item" style="background-color: #E7ECEF;">
              <div id="<%= @resort.id %>-features">
                <ul>
                  <strong>Resort Features</strong>
                  <li>Open Lifts:
                    <% if @resort.open_lifts == nil %>
                      <p>0</p>
                    <% else %>
                      <%= @resort.open_lifts %></li>
                  <% end %>
                  <li>Open Trails:
                    <%= @resort.open_trails %></li>
                  <li><%= link_to 'Trail Map', @resort.trail_map %></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-5">
        <div id="<%= @resort.id %>-weather">
          <br>
          <br>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Today's Forecast</th>
                <th scope="col"></th>
                <th scope="col">Snowfall</th>
                <th scope="col">Temp</th>
                <th scope="col">Wind</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <div id="morning-weather">
                  <th scope="row">Morning</th>
                  <td>
                    <img src="<%= @resort.morning_weather[:weather_icon] %>" alt="<%= @resort.morning_weather[:weather] %>">
                  </td>
                  <td>
                    <% if @resort.morning_weather[:snowfall] == nil %>
                      <p>0 in</p>
                    <% else %>
                      <%= @resort.morning_weather[:snowfall] %>
                    <% end %>
                  </td>
                  <td>
                    <%= @resort.morning_weather[:temp] %>
                    Fahrenheit
                  </td>
                  <td>
                    <%= @resort.morning_weather[:wind] %>
                    mph
                  </td>
                </div>
              </tr>
              <tr>
                <div id="noon-weather">
                  <th scope="row">Noon</th>
                  <td>
                    <img src="<%= @resort.noon_weather[:weather_icon] %>" alt="<%= @resort.noon_weather[:weather] %>">
                  </td>
                  <td>
                    <% if @resort.noon_weather[:snowfall] == nil %>
                      <p>0 in</p>
                    <% else %>
                      <%= @resort.noon_weather[:snowfall] %>
                    <% end %>
                  </td>
                  <td>
                    <%= @resort.noon_weather[:temp] %>
                    Fahrenheit
                  </td>
                  <td>
                    <%= @resort.noon_weather[:wind] %>
                    mph
                  </td>
                </div>
              </tr>
              <tr>
                <div id="afternoon-weather">
                  <th scope="row">Afternoon</th>
                  <td>
                    <img src="<%= @resort.afternoon_weather[:weather_icon] %>" alt="<%= @resort.afternoon_weather[:weather] %>">
                  </td>
                  <td>
                    <% if @resort.afternoon_weather[:snowfall] == nil %>
                      <p>0 in</p>
                    <% else %>
                      <%= @resort.afternoon_weather[:snowfall] %>
                    <% end %>
                  </td>
                  <td>
                    <%= @resort.afternoon_weather[:temp] %>
                    Fahrenheit
                  </td>
                  <td>
                    <%= @resort.afternoon_weather[:wind] %>
                    mph
                  </td>
                </div>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
